[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
capstone_ethanbackhus = "3mmGkqMXHZ878yp9UpPos48FLa4HNPEKkZtHhkZemrrd"

[registry]
url = "https://api.apr.dev"

# [provider]
# cluster = "localnet"
# wallet = "~/.config/solana/id.json"
[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
